<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610985896850-66a1mvb04pbe1g33jjamkpm6u58j43ju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610985896850-66a1mvb04pbe1g33jjamkpm6u58j43ju</string>
	<key>API_KEY</key>
	<string>AIzaSyDsZHpDCqAVjpM0b4t77ZGMtCPZFyszApw</string>
	<key>GCM_SENDER_ID</key>
	<string>610985896850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bimarestan</string>
	<key>PROJECT_ID</key>
	<string>bimarestan-8c953</string>
	<key>STORAGE_BUCKET</key>
	<string>bimarestan-8c953.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610985896850:ios:2a1291c7e2df750f686f4b</string>
</dict>
</plist>